<!DOCTYPE html>
<html>
<head>
<title>HVControl</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Kube CSS -->
<link rel="stylesheet" href="/static/kube.min.css">
<link rel="stylesheet" href="/static/style.css">
<script src="/static/vue.min.js"></script>
<script src="/static/vuecomponents.js"></script>
</head>
<!-- app -->
<body>
<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
              Параметры новой машины
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
             VM NAME: <input v-model="vm_name">
			 VM TimeZone: <select v-model="timezone">
				<option>Russian Standard Time</option>
				<option>Central European Time</option>
				<option>E. South America Standard Time</option>
				<option>South Africa Standard Time</option>
				<option>Arab Standard Time</option>
				<option>Nepal Standard Time</option>
				<option>Myanmar Standard Time</option>
				</select>
			 VM Language: <select v-model="language"><option>RU</option><option>EN</option></select>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
			   <button class="modal-default-button" @click="$emit('close')">
                Cancel
              </button>
              <button class="modal-default-button" v-on:click="create_vm" @click="$emit('close')">
                OK
              </button> 
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

	<div id="app" class="row gutters">
	<!-- use the modal component, pass in the prop -->
		<div class="col col-6">
			<button id="show-modal" v-on:click="create_vm" class="button round">Create VM</button>
			<modal v-if="showModal" @close="showModal = false">
			<!--
			  you can use custom content here to overwrite
			  default content
			-->
			<h3 slot="header">Параметры новой машины</h3>
		  </modal>
			<ul>
				<li v-for="item in vm_items">{{ item.vmname }} | <a href="remotedesktop://">RDP ip:{{ item.vmip }}</a> (login: {{ item.vmname }}  password: "vagrant") | Proxy ip: {{item.vmproxy}} | Proxy login: {{item.vmproxylogin}} | Proxy password:{{item.vmproxypass}}</br><vm_status v-bind:vmname="item.vmname"></vm_status><vm_up v-bind:vmname="item.vmname"></vm_up><vm_stop v-bind:vmname="item.vmname"></vm_stop><vm_delete v-bind:vmname="item.vmname"></vm_delete></li>
			</ul>
		</div>
		<div class="col col-4" id="console">
			<p v-for="message  in messages">{{ message }}</p>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>	
<script src="/static/app.js"></script>
<script src="/static/kube.min.js"></script>
</body>
</html>